.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  padding: 0;
  overflow-x: hidden;
}

.crosshairs {
  position: fixed;
  width: 100%;
  z-index: 2147483645;
}

.crosshairs.hidden {
  display: none;
}

.crosshairs::before,
.crosshairs::after {
  content: "";
  position: absolute;
}

.crosshairs::before {
  height: 24px;
  width: 2px;
  background: #000;
  top: -11px;
}

.crosshairs::after {
  width: 24px;
  height: 2px;
  background: #000;
  left: -11px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay.highlighting {
  background: none;
  border-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
}

.crosshairs,
.crosshairs:before,
.crosshairs:after,
.overlay,
.overlay:before,
.overlay:after {
  box-sizing: border-box;
}

.box {
  width: 100px;
  height: 100px;
  background-color: blue;
  transition: transform 0.3s ease; /* Adding transition for smooth animation */
}

.box.rotated {
  transform: rotate(90deg);
}
